{% extends "layout.html" %} {% block title %} Second Page {% endblock %} {% block heading %} Second Page {% endblock %} {%
block body %}
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia magnam, ad minus dolorum fugiat ea laboriosam. Consequatur,
    delectus reprehenderit? Vel doloribus inventore rerum molestiae nam, quidem ut error officia quae. Lorem, ipsum dolor
    sit amet consectetur adipisicing elit. Repellendus placeat magnam similique enim veniam eos et, voluptas soluta reiciendis,
    accusamus maxime! Ut, officiis nobis reprehenderitfacere suscipit eveniet ipsam provident!
</p>

<a href="{{ url_for('index2') }}">..Return back</a>
{% endblock %}